.bodyBox {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden;  */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
  background-color: #000;
  /* background: linear-gradient(180deg, #05f, #09f); */
}

.containerSvg {
    width: 150px;
    height: 150px;
    display: flex;
    place-content: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
  }
  
  .item {
    width: 56%;
    overflow: visible;
    stroke: #fff;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  
/* cursor */


/* styles.css */
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #ff0000; /* Set your cursor color */
  border-radius: 50%;
  pointer-events: none; /* Ensure the cursor doesn't interfere with interactions */
  z-index: 999; /* Ensure the cursor is on top of other elements */
}
