:root {
    --gradient: linear-gradient(-45deg, #0d7377, #07a6a4, #6b5b95, #feb236);
 }
  
.backgroundBox{
    background-image: var(--gradient);
    background-size: 300%;
    animation: bg-animation 10s infinite;
    min-height: 100vh !important;

}
h1{
    color: #fff !important;
}
p{
    color: #fff !important;
}
.imageBox{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

h2{
    color: #fefefe !important;
    font-weight: 600 !important;
  }

.review{
    color: #fefefe !important;
  }
.text{
    margin-top: 20px !important;
}

.container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}


@keyframes bg-animation {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }

@media only screen and (max-width: 768px) {
    .container{
        width: 80% !important;
    }
}