@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0 !important;
  padding: 0 !important;
}

.Box {
  width: 100% !important;
  min-height: 100vh;
}

.container {
  margin: auto !important;
}

.heading {
  margin-top: 70px !important;
}



.productcard {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px !important;
  border: 0.8px solid #fefefe !important;
  transition: transform 0.7s ease 0.4s !important;
}

.productcard :hover{

}


.productsgrid {
  margin-top: 30px !important;
}

.buttonbox {
  padding: 5px 17px 5px 17px !important;
  border-radius: 37px !important;
  cursor: pointer !important;
  margin-top: 10px !important;
  font-size: 13px !important;

}

.cardfooter{
  padding: 15px !important;
}


/* loader */

